@import url("style.css"); 

:root {
    --light-color: #ffb2ff;
    --dark-color: #dd7bb7;
    --dark-color-hover: #9c4787;
}

ul {
    list-style-image: url("/sprites/heart3.gif");
}

li {
    text-align: center;
    font-size: 32px;
    padding: 0 10vw;
}