/* key things to remember:
    vw = viewport width
    vh = viewport height
*/

:root {
    --light-color: rgb(255, 204, 206);
    --text-area-color: rgb(255, 225, 247);
    --dark-color: rgb(255, 146, 173);
    --dark-color-hover: rgb(230, 116, 160);
    --dark-color-active: rgb(187, 78, 123);
}

html {
    scroll-behavior: smooth;
    /* -webkit-user-select: none; /* Safari */
    /* -ms-user-select: none; /* IE 10 and IE 11 */
    /* user-select: none; Standard syntax */
    overflow-x: hidden;
}

body {
    font-family: "rainyhearts";
    background-color: var(--light-color);
    color: white;
    text-shadow: 3px 3px 10px black;
    /* repeat this element for body; fixes issue on mobile */
    overflow-x: hidden;

    /*  */
    animation: transitionIn 1s;
    animation-timing-function: cubic-bezier(0,1.07,.51,.95);
}

h1, h2, p {
    transition: all 0.3s ease-in-out 0s;
    transition-timing-function: cubic-bezier(0,1.07,.51,.95);
    overflow: visible;
}

h1:hover, h2:hover, p:hover {
    color: black;
}

h1:focus, h2:focus, p:focus {
    color: black;
}
/* 
.container {
    width: 500px;
    margin: 0 auto;
} */

.formbtn {
    width: 100%;
    height: 15vh;
    border: none;
    border-radius: 20px 40px;
    background-color: var(--dark-color);
    font-size: 5vh;
    font-family: 'Rainyhearts';
    text-shadow: 3px 3px 10px black;

    transition: all 0.3s ease-in-out 0s;
    transition-timing-function: cubic-bezier(0,1.07,.51,.95);
}

.formbtn:hover {
    font-size: 4vh;
    background-color: var(--dark-color-hover);
}

.formbtn:active {
    font-size: 6vh;
    background-color: var(--dark-color-active);
}

textarea {
    background-color: var(--text-area-color);
    font-family: 'rainyhearts';
    border: none;
}

::placeholder {
    font-family: 'rainyhearts';
    color: rgb(0, 0, 0);
    opacity: 1; /* Firefox */
    font-size: 20px;
}

label {
    font-size: 24px;
    display: flex;
    align-items: center;
}

select {
    /* appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none; */

    background-color: var(--text-area-color);
    border: none;
    width: 100px;
    height: 50px;
    font-family: 'rainyhearts';
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
}


/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }

/* AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA */

/* rate 1-10 */

.chart-scale {
    margin: 0 auto;
    /* width: 50%; */
}

/* i plan on doing vines for this */
hr {
    /* multiply height (default: 6) by the # in the sprite name */
    height: 24px;
    background: url("https://enemiphobia.github.io/dateideas/sprites/vines 4x.png") repeat-x 0 0;
    border: 0;
    width: 100%;
}

/* page transition */
@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(20px);
        /* transition: all 0.3s ease-in-out 0s;
        ransition-timing-function: cubic-bezier(0,1.07,.51,.95); */
    }
    to {
        opacity: 1;
        transform: translateY(0px);
        /* transition: all 0.3s ease-in-out 0s;
        transition-timing-function: cubic-bezier(0,1.07,.51,.95); */
    }
}

@-webkit-keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(20px);
        /* transition: all 0.3s ease-in-out 0s;
        ransition-timing-function: cubic-bezier(0,1.07,.51,.95); */
    }
    to {
        opacity: 1;
        transform: translateY(0px);
        /* transition: all 0.3s ease-in-out 0s;
        transition-timing-function: cubic-bezier(0,1.07,.51,.95); */
    }
}